<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OIL COLLECTOR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.body.addEventListener('click', () => {
                window.location.href = "{{ url_for('qr_reader') }}";
            });
        });
    </script>
</head>
<body>
    <div class="center-container">
        <div class="text-block-1">
            <div>오일 투입</div>
            <div>시작하기</div>
        </div>
        <div class="text-block-2">
            <div>화면을</div>
            <div>터치해주세요</div>
        </div>
    </div>
</body>
</html>
